.pageView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
}

.buttonView {
    display: flex;
    justify-content: center;
}

.matricesView {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    padding: 10px;
    margin: 10px;
    width: 200px;
    background: #eee;
    border-radius: 10px;
}

.isActive {
    background-color: blue;
    color: white;
}

.scalarInput, .matrixBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.inputBlock{
    height: 30px;
    margin-top: 40%;
}

.inputField {
    width: 50px;
    height: 50px;
    text-align: center;
}

.inputSize {
    width: 50px;
    text-align: center;
}

.span {
    padding: 0px 10px;
}